header {
    position: sticky;
    top: 0;
    left: 0;
    background-image: url(/media/resources/star_panorama.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    margin: 0;
    padding-bottom: 10px;
    width: 100%;
    overflow: hidden;
}

header img {
    width: 50%;
}

.header-text {
    padding-left: 20%;
    padding-right: 20%;
}

.container {
    position: relative;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #424242;
    z-index: 5;
}

.navbuttons {
    padding-top: 20px;
    display: inline-block;
    min-height: 50px;
    text-align: center;
}

.galaxy-grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin-left: 10%;
    margin-right: 10%;
    grid-column-gap: 1px;
}

.galaxy-gridcell img {
    width: 100%;
}
