body {
    background-color: black;
    color: white;
    font-family: Arial;
    font-size: 16pt;
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
}

body h1 {
    font-size: 50pt;
}

.survey-image {
    margin-left: 10%;
    margin-right: 10%;
}

.survey-image img {
    height: 50vh;
}

#guess {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 16pt;
}

.button {
    height: 50px;
    font-size: 16pt;
    color: white;
    background-color: #424242
}

.button:hover {
    background-color: #646464
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

