<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Incliscope</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'datacontrol/style.css' %}">
    <!--<script type="text/javascript" src="{% static 'main/heatmap.js' %}"></script>-->
</head>
<body>
    <header>
        <img src="/media/resources/IncliscopeLogoGal.png"/>
        <p class="header-text">The bayesian framework Incliscope is a novel way to estimate inclinations of galaxies based on
        optical images. Instead of fitting ellipsoids, we use a probabilistic approach to collect properly-calibrated
        posterior distributions among inclinations from simulated galaxies and use them as training data for a
        Deep Convolutional Mixture Density Network (DCMDN).</p>
    </header>
</body>
</html>
