{% load static %}
<script>
    $(function () {
        $(".latex").latex({ url: 'https://latex.codecogs.com/svg.image?{e}'});
    });
</script>
<div class="isophote-canvas">
    <img src="{{ galaxy.image }}"/>
    <canvas id="galaxy-canvas" width="512" height="512"></canvas>
</div>
<div class="inclination-label">
    <h1>Estimate the inclination <i>i</i> with Holmberg's axis-ratio-equation</h1>
    <div class="latex">
        \Large
        {\color{white}
            \cos{i} = \sqrt{\frac{(b/a)^2 - q_0^2}{1 - q_0^2}}
        }
    </div>
    <input type="range" id="q0" name="q0" min="0.1" max="0.5" step="0.01"/>
    <label for="volume">q0 = <output id="q0-value"></output></label>
    <p>
        <i>i</i> = <output id="inclination-value"></output>°
        <span id="gt" style="display:none;">(True value: {{ galaxy.i_mean|floatformat:2 }}°)</span>
    </p>
    <button class="button" id="toggle-button">Show Ground Truth</button>
</div>


<script type="text/javascript" src="{% static 'ellipsefit/isophote_fitting.js' %}"></script>