<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Incliscope</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'explorer/explorer.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'explorer/isophotes.css' %}">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <script src="{% static 'jslatex.js' %}"></script>
    <!--<script type="text/javascript" src="{% static 'main/heatmap.js' %}"></script>-->
</head>
<body>
    <div class="container">
        <div class="navbuttons">
            {% if traditional %}
                <a class="button" href="{% url 'galaxy' galaxy_id=galaxy.id traditional=0 %}">Incliscope</a>
                <a class="button-active" href="{% url 'galaxy' galaxy_id=galaxy.id traditional=1 %}">Isophote Fitting</a>
            {% else %}
                <a class="button-active" href="{% url 'galaxy' galaxy_id=galaxy.id traditional=0 %}">Incliscope</a>
                <a class="button" href="{% url 'galaxy' galaxy_id=galaxy.id traditional=1 %}">Isophote Fitting</a>
            {% endif %}
            <a class="button" href="{% url 'index' %}">Back</a>
        </div>
        {% if traditional %}
            {% include 'explorer/isophotes.html' %}
        {% endif %}
    </div>

</body>
</html>