{% load static %}
<script src=" https://cdn.jsdelivr.net/npm/chart.js@4.5.1/dist/chart.umd.min.js "></script>
<div class="chart-canvas">
    <canvas id="pdf"></canvas>
</div>
<div class="galaxy-window">
    <img src="{{ galaxy.image }}"/>
    <canvas id="galaxy-canvas" width="256" height="256"></canvas>
    <div class="axis-sliders">
        <input type="range" id="q0" name="q0" min="0.1" max="0.5" step="0.01"/>
        <label for="q0">q0 = <output id="q0-value"></output></label><br/>
        <input type="range" id="width" name="width" min="1" max="255" step="1"/>
        <label for="width">Width = <output id="width-value"></output></label>
        <br/>
        <input type="range" id="height" name="height" min="1" max="255" step="1"/>
        <label for="height">Height = <output id="height-value"></output></label>
        <p id="inclination">
            Inclination <i>i</i> = <output id="inclination-value">...</output>°
            <span id="gt" style="display:none;">(True value: {{ galaxy.i_mean|floatformat:2 }}°)</span>
        </p>
        <button class="button" id="toggle-button">Show Ground Truth</button>
    </div>
</div>
<script>
    var pred_mean = JSON.parse('[' + {{ galaxy.pred_mean|escapejs }} +']');
    var pred_std = JSON.parse('[' + {{ galaxy.pred_std|escapejs }} + ']');
    var pred_alpha = JSON.parse('[' + {{ galaxy.pred_alpha|escapejs }} + ']');
</script>
<script src="{% static 'explorer/isophotes.js' %}"></script>
<script src="{% static 'explorer/incliscope.js' %}"></script>